*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
p , div , span{
	font-size: 14px;
	color: #000;
}
.container{
	width: auto;
}
div[class *= "col-"]{
	float: left;
	width: 100%;
	padding:10px 0;
	/*display: inline-block;*/
}

	div.col-xs-1{
	 	width: 8.33%;
	}
	div.col-xs-2{
	     	width: 16.67%;
	}
	div.col-xs-3{
		width: 25%;
	}
	div.col-xs-4{
		width: 33.33%;
	}
	div.col-xs-5{
		width: 41.67%;
	}
	div.col-xs-6{
		width: 50%;
	}
	div.col-xs-7{
		width: 58.33%;
	}
	div.col-xs-8{
		width: 66.67%;
	}
	div.col-xs-9{
		width: 75%;
	}
	div.col-xs-10{
		width: 83.33%;
	}
	div.col-xs-11{
		width: 91.67%;
	}
	div.col-xs-12{
		width: 100%;
	}
div.row{
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	
}

div.row::after {
  content: "";
  clear: both;
  display: table;
}

.text-center{
	text-align: center;
}
.header{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 5px 5px 5px #ddd;
	-webkit-box-shadow: 5px 5px 5px #ddd;
	-moz-box-shadow: 5px 5px 5px #ddd;

}
.header img{
	width: 60px;
	display: block;
	margin: auto;
}
.header .search form{
	width: 100%;
	position: relative;
	bottom:0;
	margin: auto;
}
.header .search form input[type="text"]{
	width: 60%;
	padding: 10px;	
	border:1px solid #ddd;
}

.header .search form input[type="submit"]{
	width: 40%;
	float: right;
	cursor:pointer;
	padding: 10px;
	color: #fff;
	border: 1px solid #ddd;
	background-color: #ddd;	
}
.header .login{
	float: right;
	padding: 10px;
}
.header .login a{
	background: #fff;
	color: #ddd;
	text-align: center;
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	
}
.topic-header h3{
	padding: 10px 10px 10px 0px;
	border-bottom: 1px solid #ddd;
}
.questions{
	margin-top: 65px;
}
.topic-questions{
	padding: 5px 0px;
	border-bottom: 1px solid #ddd;
	
}
.topic-questions p{
	padding: 0 10px;

}

.topic-header .post-question{
	float: right;
	margin-bottom: 20px;
	background-color: #07C;
	color: #fff;
	padding: 10px;
	margin-right: 10px;
}
.topic-header .post-question a{
	color:#fff;
}
.topic-questions .row a{
	color: #fff;
	padding: 5px 10px;
	background-color: #ddd;
}
.topic-questions .text-center p:first-child{
	color: #fff;
	width:40px;
	margin: auto;
	padding: 10px;
	border-radius: 50%;
	background-color: #ddd;

}
.topic-questions .text-center p:last-child{
	
}
.topic-all-questions ul , .footer .footer-links{
	list-style-type: number;
	padding: 0 25px;
	text-align: justify;
	
}
.topic-all-questions ul li{
	color: #07C;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px dotted #ddd;
}
.topic-all-questions ul li a{
	color: #07C;
}
.user-login .login-form{
	margin-top: 100px;

}
.user-login .login-form form{
 	width: 100%;
	padding: 20px;
}
.user-login .login-form form fieldset{
	padding: 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
.user-login .login-form form input , 
.user-login .login-form form span,
.user-login .login-form form p{
	display: block;
	width: 95%;
	margin: 10px auto;
	padding: 8px 10px;
}
.user-login .login-form form span , .user-login .login-form form p{
	padding-left:0;
}
.user-login .login-form form input{
	border: 1px solid #ddd;
	
}
.user-login .login-form form input[type="submit"]{
	cursor: pointer;
	color: #fff;
	background-color: #ddd;

}
.footer{
	color: #000;
	margin-top:20px;
	padding: 0 50px;
	padding-bottom:50px;
	background-color: #ddd;
}
.footer .topic-header{
	padding-right: 40px;
}
.footer .topic-header h3{
	border-bottom: 1px dotted #fff;
}
.footer .footer-links{
	padding: 0;
	list-style-type: none;
}
.footer .footer-links li{
	padding: 10px 0;
	border-bottom: 1px dotted #fff;
}
.footer .footer-links li a{
	color: #000;
	display: block;
}

@media(min-width: 768px) and (max-width: 991px){
	.container{
		width: 750px;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	div.col-sm-1{
	 	width: 8.33%;
	}
	div.col-sm-2{
	     	width: 16.67%;
	}
	div.col-sm-3{
		width: 25%;
	}
	div.col-sm-4{
		width: 33.33%;
	}
	div.col-sm-5{
		width: 41.67%;
	}
	div.col-sm-6{
		width: 50%;
	}
	div.col-sm-7{
		width: 58.33%;
	}
	div.col-sm-8{
		width: 66.67%;
	}
	div.col-sm-9{
		width: 75%;
	}
	div.col-sm-10{
		width: 83.33%;
	}
	div.col-sm-11{
		width: 91.67%;
	}
	div.col-md-12{
		width: 100%;
	}
}

@media(min-width: 992px) and (max-width: 1199px){
	.container{
		width: 970px;
		padding-right: 15px;
		padding-left: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	div.col-md-1{
	 	width: 8.33%;
	}
	div.col-md-2{
	     	width: 16.67%;
	}
	div.col-md-3{
		width: 25%;
	}
	div.col-md-4{
		width: 33.33%;
	}
	div.col-md-5{
		width: 41.67%;
	}
	div.col-md-6{
		width: 50%;
	}
	div.col-md-7{
		width: 58.33%;
	}
	div.col-md-8{
		width: 66.67%;
	}
	div.col-md-9{
		width: 75%;
	}
	div.col-md-10{
		width: 83.33%;
	}
	div.col-md-11{
		width: 91.67%;
	}
	div.col-md-12{
		width: 100%;
	}
}

@media(min-width: 1200px){
	.container{
		width: 1170px;
		padding-right: 15px;
		padding-left: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	div.col-lg-1{
	 	width: 8.33333%;
	}
	div.col-lg-2{
	     	width: 16.66667%;
	}
	div.col-lg-3{
		width: 25%;
	}
	div.col-lg-4{
		width: 33.33333%;
	}
	div.col-lg-5{
		width: 41.66667%;
	}
	div.col-lg-6{
		width: 50%;
	}
	div.col-lg-7{
		width: 58.33333%;
	}
	div.col-lg-8{
		width: 66.66667%;
	}
	div.col-lg-9{
		width: 75%;
	}
	div.col-lg-10{
		width: 83.33333%;
	}
	div.col-lg-11{
		width: 91.66667%;
	}
	div.col-md-12{
		width: 100%;
	}

	.header .search form input[type="text"]{
		width: 70%;
		padding: 10px;	
		border:1px solid #ddd;
	}

	.header .search form input[type="submit"]{
		width: 30%;
		float: right;
		cursor:pointer;
		padding: 10px;
		color: #fff;
		border: 1px solid #ddd;
		background-color: #ddd;	
	}
	.topic-all-questions ul {
		list-style-type: number;
		padding-left: 50px;
		text-align: justify;
		
	}

}
